* {
    margin: 0;
    padding: 0;
}

:root {
    --main-text-color: #ffeedf;
    --text-shadow-color: #b8a99c;
    --main-head-color:  #DB6F2C;
    --text-shadow: 0.2rem 0.2rem 0.3rem var(--shadow-color);
    --shadow-color: #5e4934;
    --main-shadow-color: rgb(52, 46, 46)
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-family: "Fredoka One", "Roboto Mono", sans-serif;
    font-size: 16px;
    color: var(--main-text-color);
    scroll-behavior: smooth;
}

section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(38, 35, 35);
}

.highlight {
    color: var(--main-head-color);
    font-weight: bold;
}

#landing-page{
    background-color: unset;
}

#landing-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./media/jake-blucker-OJX7gIU3E6U-unsplash-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.13rem) contrast(1.5) brightness(1.2);
    z-index: -1;
}

.section-wrapper {
    width: calc(100%-10%);
    margin-left: 5%
}

.left {
    flex-shrink: 2;
}

.title-wrapper {
    display: flex;
    height: 50%;
    align-items: center;
}

.title-wrapper h1 {
    font-size: 8em;
    text-shadow: var(--text-shadow);
}

#name {
    color: var(--main-head-color)
}

.text-wrapper {
    width: 60%;
    margin-top: 5%
}

.right {
    display: flex;
    width: 60%;
    margin-left: unset;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
}

.button {
    padding: 1rem 2rem;
    margin: 1.3rem 2rem;
    background-color: var(--main-text-color);
    color: var(--main-head-color);
    border-radius: 0.4rem;
    font-size: 1.5rem;
    text-align: left;
 
    transition: 0.5s ease-in;
    box-shadow: 0.2rem 0.2rem 0.3rem black
}  

.button:hover {
    color: var(--main-text-color);
    background-color: var(--main-head-color);
    padding: 1.3rem 2.1rem;
    margin: 1rem 1.9rem;
    transition: 0.3s ease-in-out;
}

.button:active {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.title-wrapper.page-title {
    font-size: 2.2rem;
    text-decoration: underline 0.8rem var(--main-head-color);
    text-shadow: var(--text-shadow);
    align-items: unset;
    margin-top: 13%;
    padding: 1%;
    width: fit-content;
    height: fit-content;
}

.text-wrapper {
    margin-top: 15%;
}

#about-text {
    width: 90%;
    margin-right: 5%;
}

.section-wrapper.middle {
    display: flex;
    width: 5%;
    margin: 7% 0;
    justify-content: space-between;
}

.orange-line {
    display: flex;
    width: 30%;
    background-color: var(--main-head-color);
    
}

.section-wrapper.left.sections {
    flex-shrink: 1;
    width: 27%; 
}

#max-image-wrapper {
    display: flex;
    width: 100%;
    justify-items: center;
}

#max-image {
    width: 60%;
    border-radius: 10%;
    filter: grayscale(0.7);
    margin-bottom: 10%;
    box-shadow: 0 0 1rem var(--shadow-color);
    justify-self: center;
}

#facts {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#about-list-wrapper {
    display: flex;
    width:100%
}

#about-list {
    width: 30%;
    margin-right: 1rem;
}

.about-list {
    margin: 0.5rem 0;
    font-size: 1.3rem;
}